{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2>Register User</h2>

    <form method="post" action="{% url "register" %}" >
        {% csrf_token %}

        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {{form.non_field_errors}}
            </div>
        {% endif %}

        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control {% if form.username.errors %}is-invalid{% endif %}" id="username" name="username" placeholder="Enter your username" value="{{form.username.value|default_if_none:''}}">

            <!-- Display usernmae error -->
            {% if form.username.errors %}
                <div class="invalid-feedback">
                    {{form.username.errors}}
                </div>
            {% endif %}
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control {% if form.email.errors %}is-invalid{% endif %}" id="email" name="email" placeholder="Enter your email" value="{{form.email.value|default_if_none:''}}">

            <!-- Display email error -->
            {% if form.email.errors %}
                <div class="invalid-feedback">
                    {{form.email.errors}}
                </div>
            {% endif %}
        </div>

        <div class="mb-3">
            <label for="password1" class="form-label">Password</label>
            <input type="password" class="form-control {% if form.password1.errors %}is-invalid{% endif %}" id="password1" name="password1" placeholder="Enter your password" value="{{form.password1.value|default_if_none:''}}">

            <!-- Display password1 error -->
            {% if form.password1.errors %}
                <div class="invalid-feedback">
                    {{form.password1.errors}}
                </div>
            {% endif %}
        </div>
        <div class="mb-3">
            <label for="password2" class="form-label">Confirm Password</label>
            <input type="password" class="form-control {% if form.password2.errors %}is-invalid{% endif %}" id="password2" name="password2" placeholder="Confirm your password" value="{{form.password2.value|default_if_none:''}}">

            <!-- Display password1 error -->
            {% if form.password2.errors %}
                <div class="invalid-feedback">
                    {{form.password2.errors}}
                </div>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">
            Register
        </button>
    </form>
</div>
{% endblock content %}